/* Add a Smouth proprity */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* nav */
.nav-center {
    background-color: #fffffffa;
    height: 10vh;
    overflow: hidden;
    transition: all 1s;
}
.nav-header {
    height: 10vh;
    padding: 0 1rem 0rem 1rem;
}
/* logo */
.logo {
    width: 60px;
    margin-top: .5rem;
    padding: .5rem;
}
/* button toggle*/
.nav-toggle {
    border:none;
    font-size: 25px;
    background-color: rgba(35, 211, 138, 0);
    display: block;
    position: absolute;
    outline: none;
    cursor: pointer;
    top: 25px;
    right: 15px;
    transition: all 1s;
}
.nav-toggle:hover {
    color: #01c4429f;
}
/* fixed nav */
.nav-fixed {
    position: fixed !important;
    width: 100%;
    box-shadow: 1px 1px 2px #a5a5a5;
}

/* links container */
.links-container {
    padding: 0rem;
    height: 0;
    overflow: hidden;
    background-color: white;
    transition: all 1s;
}
/* show-nav */
.show-nav {
    overflow: visible;
    visibility: visible;
    transition: all 1s;
}

/* ul list */
.links {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* li list */
li {
    margin: 0;
    padding: 0;
}
/* a tag */
a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    display:block;
    padding: .5rem 0  1rem 1rem; 
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 17px;
    transition: all .5s;
}
a:hover{
    color: #01c4429f;
    letter-spacing: 3px;
}
li:hover {
    background-color: #88888834;
}

/* banner */
.banner {
    background: linear-gradient(
        rgba(134, 204, 189, 0.589),
        rgba(62, 68, 68, 0.637)),
        url(./programing-area.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 90vh;
}
.container {
    padding: 1.5rem;
}
h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #222;
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
}
p {
    padding: 0;
    margin-bottom: 2rem;
    color: #222;
}

/* btn-white */
.btn-white {
    border: solid 2px;
    padding: .3rem;
    margin: 0 auto;
    color: #eee;
    letter-spacing: 2px;
    transition: all 1s;
    width: 180px;
}
.btn-white:hover {
    border: solid 1px;
    background-color: #239c825b;
}

/* sections */
.section {
    text-align: center;
    height: 50vh;
}
.title {
    letter-spacing: 3px;
    padding-top: 0;
    margin-top: 0;
    font-size: 18px;
    color: #333;
    text-transform: uppercase;
}
h2 {
    padding-top: 0;
    margin: 0;
    font-weight: 750;
}
span {
    color: #01c4429f;
}
/* tours */
#tours {
    position: relative;

}
/* footer */
.section-footer {
    height: 15vh;
    padding-top: 3rem;
    text-align: center;
    background-color:  #17335cea;
}

/* top-btn */
.top-btn {
    position: fixed;
    top: 80%;
    width: 50px;
    right: 10px;
    border: solid;
    padding: 1rem .2rem;
    border-radius: 100px;
    visibility: hidden;
}
.top-btn:hover {
    letter-spacing: 0;
}
/* show-top-btn */
.show-top {
    visibility: visible;
}

/* Add media query at 800px*/
@media screen and (min-width: 800px){

    #nav {
        /* here scroll */
        height: 0; 
        transition: all .5s;

    }
    /* fixed nav */
    .nav-fixed {
        position: fixed !important;
        background-color: #fff!important;
        height: 10vh !important;
        box-shadow: 1px 1px 2px #a5a5a5;
        width: 100%;
        top: 0;
        transition: all .5s;
    }

    .container-nav {
        width:95% ;
        height: 10vh;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        
    }

    .logo {
        width: 70px;
        margin: .5rem 0;
        padding: 0;
    }

    .nav-center {
        height: 10vh;
        background: none;
        display: flex;
        justify-content: space-around;
        overflow: visible;
        transition: all 1s;
    }

    .nav-toggle {
        display: none;
    }

    .links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: none;
        width: 400px;
     

    }
    .links-container {
        background: none;
        height: 10vh !important;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        /*visibility: hidden;*/
    }

    a.scroll-link {
        padding: 0;
        margin: 0;
    }

    .banner {
        padding: 0 5rem;
    }
    h1 {
        font-size: 60px;
    }
    .title {
        font-size: 20px;
    }
   
}

/* media query at 1200 px*/
@media screen and (min-width: 1200px){

    .container-nav {
        width:80% ;
    }

    .banner p {
        width: 60%;
        padding: 1rem 0 2rem 0;
        margin: auto;
    }
    .title {
        font-size: 25px;
    }

}